<div id="toolbar">
  <!-- Color -->
  <div id="colors">Color:
    <input type="color" [(ngModel)]="selectedColor" name="myColor" id="myColor">
  </div>

  <!-- Size -->
  <div id="range">Size: 1
    <input type="range" id="myRange" [value]="5" [(ngModel)]="selectedWidth" min="1" max="100">100
  </div>

  <!-- Brush -->
  <button class="btn btn-primary custom-btn" id="brush" (click)="selectBrush()">
    <i class="fas fa-paint-brush paint-brush"></i>
  </button>

  <!-- Erase -->
  <button id="erase" class="btn btn-primary custom-btn" (click)="selectEraser('DRAWING')">
    <i class="fas fa-eraser eraser"></i>
  </button>

  <!-- Straight Line -->
  <button id="line" class="btn btn-primary custom-btn">
    <i class="fas fa-pencil-alt lines" (click)="selectLine()"></i>
  </button>

  <!-- Save -->
  <button class="btn btn-primary custom-btn" id="save" (click)="saveClick()">Save</button>

  <!-- Next -->
  <button id="next" class="btn btn-primary custom-btn" (click)="nextClick()">Next</button>
  <br>
</div>
<canvas class="canvas" #imageCanvas id="imageCanvas" style="z-index: 0;">Your browser does not support canvas. Please
  upgrade it!</canvas>
<canvas class="canvas" #drawingCanvas id="drawingCanvas" (mouseup)="mouseUp($event)" style="z-index: 1;"
  (click)="drawLine($event)">Your browser does not support canvas.
  Please upgrade it!</canvas>